<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>912607945811-oecmr3h5ne0dhpa0v12f96otkq2hpg09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912607945811-oecmr3h5ne0dhpa0v12f96otkq2hpg09</string>
	<key>API_KEY</key>
	<string>AIzaSyCw25V5QxaJFkcmYZkK7t4m7UdrQuldzyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>912607945811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdulsatar.WeatherApp</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-27e14</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-27e14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912607945811:ios:045f70378a7cf8c2</string>
	<key>DATABASE_URL</key>
	<string>https://weatherapp-27e14.firebaseio.com</string>
</dict>
</plist>